<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>icon_00</string>
		<key>name</key>
		<string>天天酷跑</string>
	</dict>
    <dict>
        <key>icon</key>
        <string>icon_01</string>
        <key>name</key>
        <string>王者峡谷</string>
    </dict>
    <dict>
        <key>icon</key>
        <string>icon_02</string>
        <key>name</key>
        <string>愤怒的小奶</string>
    </dict>
    <dict>
        <key>icon</key>
        <string>icon_03</string>
        <key>name</key>
        <string>qq飞车</string>
    </dict>
    <dict>
        <key>icon</key>
        <string>icon_04</string>
        <key>name</key>
        <string>qq炫舞</string>
    </dict>
    <dict>
        <key>icon</key>
        <string>icon_05</string>
        <key>name</key>
        <string>爸爸去哪儿</string>
    </dict>
    <dict>
        <key>icon</key>
        <string>icon_06</string>
        <key>name</key>
        <string>斗地主</string>
    </dict>
    <dict>
        <key>icon</key>
        <string>icon_07</string>
        <key>name</key>
        <string>消消乐</string>
    </dict>
    <dict>
        <key>icon</key>
        <string>icon_08</string>
        <key>name</key>
        <string>神庙逃亡 </string>
    </dict>
    <dict>
        <key>icon</key>
        <string>icon_09</string>
        <key>name</key>
        <string>四川麻将</string>
    </dict>
    <dict>
        <key>icon</key>
        <string>icon_10</string>
        <key>name</key>
        <string>拔萝卜</string>
    </dict>
    <dict>
        <key>icon</key>
        <string>icon_11</string>
        <key>name</key>
        <string>小黄人</string>
    </dict>
</array>
</plist>
